server.port=8088

spring.datasource.url=jdbc:mariadb://79.137.36.45:3306/tech_test
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

# Hibernate

# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MariaDB53Dialect

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto = validate

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type=TRACE